body{
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid black;
}

.homepage {
    width: 70%;
    padding-left: 32px;
}

a {
    text-decoration: none;
}

a:visited, a:hover {
    color: inherit;
}

.sns {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}

.logo > img {
    padding: 0 16px;
    width: 40px;
}

.banner {
    padding-top: 90px;
}

article {
    margin: 0;
}

.introduction {
    display: flex;
    flex-direction: column;
    background: url(bulb_1.jpg);
    background-size: 100%;
    height: 380px;
    background-color: black;
}

.intro {
    width: 70%;
    font-size: 40px;
    font-weight: 700;
    padding: 60px;
    padding-left: 100px;
    padding-bottom: 40px;
}

.detail {
    width: 40%;
    font-size: 16px;
    padding: 32px;
    padding-top: 0;
    padding-left: 100px;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: row;
    height: 380px;
    margin: 40px 100px;
}

.description {
    width: 50%;
    margin-left: 20px;
    line-height: 30px;
}

.description > h1{
    padding-bottom: 20px;
}

.description > h1{
    padding-bottom: 20px;
}

.profile-image {
    display: flex;
    width: 50%;
    align-items: center;
    align-content: space-around;
    padding-right: 0px;
}

.image {
    margin: 60px;
    max-width: 60%;
    padding-right: 0px;
}


footer {
    font-size: 12px;
    padding: 8px;
    background-color: grey;
    text-align: center;
}